
COFFEE_MACHINE/
/.metadata/
COFFEE_MACHINE/Debug/coffee.d
COFFEE_MACHINE/Debug/coffee.obj
COFFEE_MACHINE/Debug/COFFEE_MACHINE.map
COFFEE_MACHINE/Debug/COFFEE_MACHINE.out
COFFEE_MACHINE/Debug/COFFEE_MACHINE_linkInfo.xml
COFFEE_MACHINE/Debug/heap_2.d
COFFEE_MACHINE/Debug/heap_2.obj
COFFEE_MACHINE/Debug/key.d
COFFEE_MACHINE/Debug/key.obj
COFFEE_MACHINE/Debug/lcd.d
COFFEE_MACHINE/Debug/lcd.obj
COFFEE_MACHINE/Debug/led.obj
COFFEE_MACHINE/Debug/list.d
COFFEE_MACHINE/Debug/list.obj
COFFEE_MACHINE/Debug/log.d
COFFEE_MACHINE/Debug/log.obj
COFFEE_MACHINE/Debug/main.d
COFFEE_MACHINE/Debug/main.obj
COFFEE_MACHINE/Debug/payment.d
COFFEE_MACHINE/Debug/payment.obj
COFFEE_MACHINE/Debug/port.d
COFFEE_MACHINE/Debug/port.obj
COFFEE_MACHINE/Debug/portasm.obj
COFFEE_MACHINE/Debug/queue.d
COFFEE_MACHINE/Debug/queue.obj
COFFEE_MACHINE/Debug/report.d
COFFEE_MACHINE/Debug/report.obj
COFFEE_MACHINE/Debug/startup_frt.d
COFFEE_MACHINE/Debug/startup_frt.obj
COFFEE_MACHINE/Debug/subdir_rules.mk
COFFEE_MACHINE/Debug/subdir_vars.mk
COFFEE_MACHINE/Debug/switch.obj
COFFEE_MACHINE/Debug/systick_frt.d
COFFEE_MACHINE/Debug/systick_frt.obj
COFFEE_MACHINE/Debug/tasks.d
COFFEE_MACHINE/Debug/tasks.obj
COFFEE_MACHINE/Debug/uart0.d
COFFEE_MACHINE/Debug/uart0.obj
